.inputTask {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: -26px;
  padding: 16px;

}

.inputContainer {
  max-width: 638px;
  height: 54px;
  flex: 1;

  border: 1px solid var(--gray-700);
  background-color: var(--gray-500);
  border-radius: 8px;
  outline: none;
  padding: 16px;

  color: var(--gray-100); 
  font-size: 16px;
  
}


.inputContainer input::placeholder {
  color: var(--gray-300);
}

.inputContainer:focus {
  border: 1px solid var(--purple-dark);

}

.createButton {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 54px;
  background-color: var(--blue-dark);
  color: var(--gray-100);

  padding: 16px;
  border: none;
  border-radius: 8px;
  outline: none;

  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
}

.createButton:hover {
  background-color: var(--blue);  
  cursor: pointer;
}